.Crmsh .hll { background-color: #4f424c }
.Crmsh  { background: #2f1e2e; color: #e7e9db }
.Crmsh .lineno {color: #e7e9db }
.Crmsh .c { color: #776e71 } /* Comment */
.Crmsh .err { color: #ef6155 } /* Error */
.Crmsh .k { color: #815ba4 } /* Keyword */
.Crmsh .l { color: #f99b15 } /* Literal */
.Crmsh .n { color: #e7e9db } /* Name */
.Crmsh .o { color: #5bc4bf } /* Operator */
.Crmsh .p { color: #e7e9db } /* Punctuation */
.Crmsh .ch { color: #776e71 } /* Comment.Hashbang */
.Crmsh .cm { color: #776e71 } /* Comment.Multiline */
.Crmsh .cp { color: #776e71 } /* Comment.Preproc */
.Crmsh .cpf { color: #776e71 } /* Comment.PreprocFile */
.Crmsh .c1 { color: #776e71 } /* Comment.Single */
.Crmsh .cs { color: #776e71 } /* Comment.Special */
.Crmsh .gd { color: #ef6155 } /* Generic.Deleted */
.Crmsh .ge { font-style: italic } /* Generic.Emph */
.Crmsh .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
.Crmsh .gi { color: #48b685 } /* Generic.Inserted */
.Crmsh .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
.Crmsh .gs { font-weight: bold } /* Generic.Strong */
.Crmsh .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.Crmsh .kc { color: #815ba4 } /* Keyword.Constant */
.Crmsh .kd { color: #815ba4 } /* Keyword.Declaration */
.Crmsh .kn { color: #5bc4bf } /* Keyword.Namespace */
.Crmsh .kp { color: #815ba4 } /* Keyword.Pseudo */
.Crmsh .kr { color: #815ba4 } /* Keyword.Reserved */
.Crmsh .kt { color: #fec418 } /* Keyword.Type */
.Crmsh .ld { color: #48b685 } /* Literal.Date */
.Crmsh .m { color: #f99b15 } /* Literal.Number */
.Crmsh .s { color: #48b685 } /* Literal.String */
.Crmsh .na { color: #06b6ef } /* Name.Attribute */
.Crmsh .nb { color: #e7e9db } /* Name.Builtin */
.Crmsh .nc { color: #fec418 } /* Name.Class */
.Crmsh .no { color: #ef6155 } /* Name.Constant */
.Crmsh .nd { color: #5bc4bf } /* Name.Decorator */
.Crmsh .ni { color: #e7e9db } /* Name.Entity */
.Crmsh .ne { color: #ef6155 } /* Name.Exception */
.Crmsh .nf { color: #06b6ef } /* Name.Function */
.Crmsh .nl { color: #e7e9db } /* Name.Label */
.Crmsh .nn { color: #fec418 } /* Name.Namespace */
.Crmsh .nx { color: #06b6ef } /* Name.Other */
.Crmsh .py { color: #e7e9db } /* Name.Property */
.Crmsh .nt { color: #5bc4bf } /* Name.Tag */
.Crmsh .nv { color: #ef6155 } /* Name.Variable */
.Crmsh .ow { color: #5bc4bf } /* Operator.Word */
.Crmsh .w { color: #e7e9db } /* Text.Whitespace */
.Crmsh .mb { color: #f99b15 } /* Literal.Number.Bin */
.Crmsh .mf { color: #f99b15 } /* Literal.Number.Float */
.Crmsh .mh { color: #f99b15 } /* Literal.Number.Hex */
.Crmsh .mi { color: #f99b15 } /* Literal.Number.Integer */
.Crmsh .mo { color: #f99b15 } /* Literal.Number.Oct */
.Crmsh .sa { color: #48b685 } /* Literal.String.Affix */
.Crmsh .sb { color: #48b685 } /* Literal.String.Backtick */
.Crmsh .sc { color: #e7e9db } /* Literal.String.Char */
.Crmsh .dl { color: #48b685 } /* Literal.String.Delimiter */
.Crmsh .sd { color: #776e71 } /* Literal.String.Doc */
.Crmsh .s2 { color: #48b685 } /* Literal.String.Double */
.Crmsh .se { color: #f99b15 } /* Literal.String.Escape */
.Crmsh .sh { color: #48b685 } /* Literal.String.Heredoc */
.Crmsh .si { color: #f99b15 } /* Literal.String.Interpol */
.Crmsh .sx { color: #48b685 } /* Literal.String.Other */
.Crmsh .sr { color: #48b685 } /* Literal.String.Regex */
.Crmsh .s1 { color: #48b685 } /* Literal.String.Single */
.Crmsh .ss { color: #48b685 } /* Literal.String.Symbol */
.Crmsh .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
.Crmsh .fm { color: #06b6ef } /* Name.Function.Magic */
.Crmsh .vc { color: #ef6155 } /* Name.Variable.Class */
.Crmsh .vg { color: #ef6155 } /* Name.Variable.Global */
.Crmsh .vi { color: #ef6155 } /* Name.Variable.Instance */
.Crmsh .vm { color: #ef6155 } /* Name.Variable.Magic */
.Crmsh .il { color: #f99b15 } /* Literal.Number.Integer.Long */
