td.linenos { background-color: #f0f0f0; }
span.lineno { background-color: #f0f0f0; }
pre { line-height: 125%; }
body .hll { background-color: #4f424c }
body .c { color: #776e71 } /* Comment */
body .err { color: #ef6155 } /* Error */
body .k { color: #815ba4 } /* Keyword */
body .l { color: #f99b15 } /* Literal */
body .n { color: #b3b3b3 } /* Name */
body .o { color: #5bc4bf } /* Operator */
body .p { color: #b3b3b3 } /* Punctuation */
body .ch { color: #776e71 } /* Comment.Hashbang */
body .cm { color: #776e71 } /* Comment.Multiline */
body .cp { color: #776e71 } /* Comment.Preproc */
body .cpf { color: #776e71 } /* Comment.PreprocFile */
body .c1 { color: #776e71 } /* Comment.Single */
body .cs { color: #776e71 } /* Comment.Special */
body .gd { color: #ef6155 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gh { color: #b3b3b3; font-weight: normal } /* Generic.Heading */
body .gi { color: #48b685 } /* Generic.Inserted */
body .gp { color: #776e71; font-weight: normal } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #5bc4bf; font-weight: normal } /* Generic.Subheading */
body .kc { color: #815ba4 } /* Keyword.Constant */
body .kd { color: #815ba4 } /* Keyword.Declaration */
body .kn { color: #5bc4bf } /* Keyword.Namespace */
body .kp { color: #815ba4 } /* Keyword.Pseudo */
body .kr { color: #815ba4 } /* Keyword.Reserved */
body .kt { color: #fec418 } /* Keyword.Type */
body .ld { color: #48b685 } /* Literal.Date */
body .m { color: #f99b15 } /* Literal.Number */
body .s { color: #48b685 } /* Literal.String */
body .na { color: #06b6ef } /* Name.Attribute */
body .nb { color: #b3b3b3 } /* Name.Builtin */
body .nc { color: #fec418 } /* Name.Class */
body .no { color: #ef6155 } /* Name.Constant */
body .nd { color: #5bc4bf } /* Name.Decorator */
body .ni { color: #b3b3b3 } /* Name.Entity */
body .ne { color: #ef6155 } /* Name.Exception */
body .nf { color: #06b6ef } /* Name.Function */
body .nl { color: #b3b3b3 } /* Name.Label */
body .nn { color: #fec418 } /* Name.Namespace */
body .nx { color: #06b6ef } /* Name.Other */
body .py { color: #b3b3b3 } /* Name.Property */
body .nt { color: #5bc4bf } /* Name.Tag */
body .nv { color: #ef6155 } /* Name.Variable */
body .ow { color: #5bc4bf } /* Operator.Word */
body .w { color: #b3b3b3 } /* Text.Whitespace */
body .mb { color: #f99b15 } /* Literal.Number.Bin */
body .mf { color: #f99b15 } /* Literal.Number.Float */
body .mh { color: #f99b15 } /* Literal.Number.Hex */
body .mi { color: #f99b15 } /* Literal.Number.Integer */
body .mo { color: #f99b15 } /* Literal.Number.Oct */
body .sa { color: #48b685 } /* Literal.String.Affix */
body .sb { color: #48b685 } /* Literal.String.Backtick */
body .sc { color: #b3b3b3 } /* Literal.String.Char */
body .dl { color: #48b685 } /* Literal.String.Delimiter */
body .sd { color: #776e71 } /* Literal.String.Doc */
body .s2 { color: #48b685 } /* Literal.String.Double */
body .se { color: #f99b15 } /* Literal.String.Escape */
body .sh { color: #48b685 } /* Literal.String.Heredoc */
body .si { color: #f99b15 } /* Literal.String.Interpol */
body .sx { color: #48b685 } /* Literal.String.Other */
body .sr { color: #48b685 } /* Literal.String.Regex */
body .s1 { color: #48b685 } /* Literal.String.Single */
body .ss { color: #48b685 } /* Literal.String.Symbol */
body .bp { color: #b3b3b3 } /* Name.Builtin.Pseudo */
body .fm { color: #06b6ef } /* Name.Function.Magic */
body .vc { color: #ef6155 } /* Name.Variable.Class */
body .vg { color: #ef6155 } /* Name.Variable.Global */
body .vi { color: #ef6155 } /* Name.Variable.Instance */
body .vm { color: #ef6155 } /* Name.Variable.Magic */
body .il { color: #f99b15 } /* Literal.Number.Integer.Long */