.Python .hll { background-color: #4f424c }
.Python  { background: #2f1e2e; color: #e7e9db }
.Python .c { color: #776e71 } /* Comment */
.Python .err { color: #ef6155 } /* Error */
.Python .k { color: #815ba4 } /* Keyword */
.Python .l { color: #f99b15 } /* Literal */
.Python .n { color: #e7e9db } /* Name */
.Python .o { color: #5bc4bf } /* Operator */
.Python .p { color: #e7e9db } /* Punctuation */
.Python .ch { color: #776e71 } /* Comment.Hashbang */
.Python .cm { color: #776e71 } /* Comment.Multiline */
.Python .cp { color: #776e71 } /* Comment.Preproc */
.Python .cpf { color: #776e71 } /* Comment.PreprocFile */
.Python .c1 { color: #776e71 } /* Comment.Single */
.Python .cs { color: #776e71 } /* Comment.Special */
.Python .gd { color: #ef6155 } /* Generic.Deleted */
.Python .ge { font-style: italic } /* Generic.Emph */
.Python .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
.Python .gi { color: #48b685 } /* Generic.Inserted */
.Python .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
.Python .gs { font-weight: bold } /* Generic.Strong */
.Python .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.Python .kc { color: #815ba4 } /* Keyword.Constant */
.Python .kd { color: #815ba4 } /* Keyword.Declaration */
.Python .kn { color: #5bc4bf } /* Keyword.Namespace */
.Python .kp { color: #815ba4 } /* Keyword.Pseudo */
.Python .kr { color: #815ba4 } /* Keyword.Reserved */
.Python .kt { color: #fec418 } /* Keyword.Type */
.Python .ld { color: #48b685 } /* Literal.Date */
.Python .m { color: #f99b15 } /* Literal.Number */
.Python .s { color: #48b685 } /* Literal.String */
.Python .na { color: #06b6ef } /* Name.Attribute */
.Python .nb { color: #e7e9db } /* Name.Builtin */
.Python .nc { color: #fec418 } /* Name.Class */
.Python .no { color: #ef6155 } /* Name.Constant */
.Python .nd { color: #5bc4bf } /* Name.Decorator */
.Python .ni { color: #e7e9db } /* Name.Entity */
.Python .ne { color: #ef6155 } /* Name.Exception */
.Python .nf { color: #06b6ef } /* Name.Function */
.Python .nl { color: #e7e9db } /* Name.Label */
.Python .nn { color: #fec418 } /* Name.Namespace */
.Python .nx { color: #06b6ef } /* Name.Other */
.Python .py { color: #e7e9db } /* Name.Property */
.Python .nt { color: #5bc4bf } /* Name.Tag */
.Python .nv { color: #ef6155 } /* Name.Variable */
.Python .ow { color: #5bc4bf } /* Operator.Word */
.Python .w { color: #e7e9db } /* Text.Whitespace */
.Python .mb { color: #f99b15 } /* Literal.Number.Bin */
.Python .mf { color: #f99b15 } /* Literal.Number.Float */
.Python .mh { color: #f99b15 } /* Literal.Number.Hex */
.Python .mi { color: #f99b15 } /* Literal.Number.Integer */
.Python .mo { color: #f99b15 } /* Literal.Number.Oct */
.Python .sa { color: #48b685 } /* Literal.String.Affix */
.Python .sb { color: #48b685 } /* Literal.String.Backtick */
.Python .sc { color: #e7e9db } /* Literal.String.Char */
.Python .dl { color: #48b685 } /* Literal.String.Delimiter */
.Python .sd { color: #776e71 } /* Literal.String.Doc */
.Python .s2 { color: #48b685 } /* Literal.String.Double */
.Python .se { color: #f99b15 } /* Literal.String.Escape */
.Python .sh { color: #48b685 } /* Literal.String.Heredoc */
.Python .si { color: #f99b15 } /* Literal.String.Interpol */
.Python .sx { color: #48b685 } /* Literal.String.Other */
.Python .sr { color: #48b685 } /* Literal.String.Regex */
.Python .s1 { color: #48b685 } /* Literal.String.Single */
.Python .ss { color: #48b685 } /* Literal.String.Symbol */
.Python .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
.Python .fm { color: #06b6ef } /* Name.Function.Magic */
.Python .vc { color: #ef6155 } /* Name.Variable.Class */
.Python .vg { color: #ef6155 } /* Name.Variable.Global */
.Python .vi { color: #ef6155 } /* Name.Variable.Instance */
.Python .vm { color: #ef6155 } /* Name.Variable.Magic */
.Python .il { color: #f99b15 } /* Literal.Number.Integer.Long */
