main
    margin: auto
    max-width: 900px
    padding: 80px 26px
    text-align: center
    font-family: 'Helvetica', sans-serif
    color: #404040

    p
        font-size: 36px
        letter-spacing: 8px

    div.miniconda
        text-align: left

        p
            font-size: 18px
            letter-spacing: 0px