main
    font-family: 'Helvetica', sans-serif
    color: #404040

    div.list-of-icons
        margin: auto
        max-width: 900px
        padding: 80px 26px
        text-align: center

        p
            font-size: 36px
            letter-spacing: 8px

    div.profile-picture
        max-width: 1200px
        background-image: url(../images/david-horizontal.jpeg)
        background-repeat: no-repeat
        background-position: center
        background-size: 1200px 401.04px
        -webkit-border-radius: 10px
        -moz-border-radius: 10px
        border-radius: 10px
        border: 2px solid #404040
        height: 400px
        margin: 80px auto

    div.miniconda
        margin: auto
        max-width: 900px
        padding: 80px 26px
        text-align: left

        p
            font-size: 18px
            letter-spacing: 0px

        a
            text-decoration: none
            color: #0366d6

            &:hover
                text-decoration: underline
                transition: 0.3s
