@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Oxygen:300,400|Kaushan+Script|Roboto:100,300,400|Open+Sans+Condensed:300|Quicksand:300,400");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

nav {
  background-color: rgba(45, 45, 45, 0.98);
  width: 100%;
  margin-bottom: -21px;
}

nav ul {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding-left: 1px;
}

nav ul li {
  display: inline-block;
  width: 10%;
  height: 44px;
  line-height: 44px;

}

nav ul li:first-child{
  display: none;
}

nav ul li:last-child{
  display: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 10pt;
  letter-spacing: 0.1em;
  font-weight: 300;
  display: block;
  width: 100%;
  height: 100%
}

nav ul li a:nth-child(2) {
  font-size: 14pt;
}

nav ul li a:hover {
  color: #b3b3b3;
  transition: 0.3s;
}

.banner {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    background-image: url("../images/mount-laguna.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
.banner .transbox {
    background: rgba(26, 26, 26, 0.6);
    height: inherit;
}
.banner .transbox h1 {
    padding-top: 40px;
    font-family: 'Kaushan Script', cursive;
    color: #f2f2f2;
    letter-spacing: 4pt;
}
.banner .transbox hr {
    margin: 0 auto;
    max-width: 90%;
    border-width: 1px;
    border-style: solid;
    color: #808080;
    float: center;
}
.banner .transbox p {
    font-size: 12pt;
    letter-spacing: 2pt;
    color: #b3b3b3;
}
.banner .transbox p a {
    color: #00ccff;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
  nav ul li:not(:first-child) {
    display: none;
  }

  nav ul li:first-child {
    display: block;
    float: left;
    width: fit-content;
    padding-left: 20px;
  }

  nav ul li:nth-child(2) {
    display: inline-block;
    font-size: 14pt;
  }

  nav ul li:last-child {
    display: block;
    float: right;
    padding-right: 20px;
    width: fit-content;
    font-size: 12pt;
  }
}
