@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@font-face {
  font-family: 'Quicksand';
  font-display: block;
  src: local('Quicksand'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_pgHYYT8L_FYzokA.woff2) format('woff2');
}
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

nav {
  background-color: rgba(36, 41, 46);
  width: 100%;
  margin-bottom: -21px;
}

nav ul {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding-left: 1px;
}

nav ul li {
  display: inline-block;
  width: 10%;
  height: 60px;
  line-height: 60px;
}

nav ul li:last-child {
  display: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%
}

nav ul li a:hover {
  color: #b3b3b3;
  transition: 0.3s;
}

.banner {
  background-image: url("../../images/djaimes-icon-wall.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  margin-top: 21px;
}

.banner-container {
  height: 100%;
  width: 100%;
  display: table;
}

.banner-title {
  font-family: 'Helvetica', sans-serif;
  color: #f2f2f2;
  padding: 0px 26px;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  display: table-cell;
  vertical-align: middle;
}

.banner-title h1 {
  letter-spacing: 4pt;
}

@media screen and (max-width: 900px) {
  nav ul li:not(:first-child) {
    display: none;
  }

  nav ul li:first-child {
    display: block;
    float: left;
    width: fit-content;
    padding-left: 20px;
  }

  nav ul li:nth-child(7) {
    display: inline-block;
    text-align: center;
  }

  nav ul li:last-child {
    display: block;
    float: right;
    padding-right: 20px;
    width: fit-content;
  }
}
